/* General Style */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a9a9a9;
}

header {
  background-color: #007acc;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  height: 3rem;
  margin-top: 5px;
  padding: 10px;
  background-color: #007acc;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: #005bb5;
}

/* Menu Style */

main h1{
  text-align: center;
  margin: 0 0 1.5rem;
  font-size: 4rem;
  color: #003c79;
}

main h2 {
  text-align: center;
  margin: 0 0 1.5rem;
  font-size: 2rem;
  color: #005bb5;
}

main #not-found {
  text-align: center;
  margin: 0 0 1.5rem;
  font-size: 1.5rem;
  color: #005bb5;
}

main #not-found p {
  margin: 0;
}

main #not-found p a {
  color: #003c79;
}

#menu-form {
  display: flex;
  flex-direction: column;
  color: #007acc;
}

#menu-form input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 5px 0 0;

  font: inherit;
  color: #000;
  width: 1em;
  height: 1em;
  border: 0.14em solid #003c79;
  border-radius: 0.05em;
  transform: translateY(20%);

  transition: border-radius 0.3s ease, background-color 0.3s ease;
}

#menu-form input[type="checkbox"]:checked {
  border-radius: 50%;
  background: #0099ff;
}

#choose-scriptures {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

#choose-scriptures div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
}

#scriptures {
  margin-bottom: 5px;
}

/* Quiz Style */

#question-container {
  margin-bottom: 20px;
}

#question {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

#options {
  list-style: none;
  padding: 0;
}

#options li {
  margin-bottom: 10px;
}

#green {
  background-color: #00cc0e;
}

.green-text {
  color: #00cc0e!important;
}

#green:hover {
  background-color: #03b500;
}

#red {
  background-color: #cc0000;
}

.red-text {
  color: #cc0000!important;
}

#red:hover {
  background-color: #b50000;
}

#result-container, #score-container {
  text-align: center;
}

.hidden{
  display: none!important;
}

#score-container p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#result-text {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

#score {
  font-size: 24px;
  font-weight: bold;
  color: #007acc;
  padding-left: 5px;
}

#ended {
  width: 85%;
  height: 75%;
  margin: 2rem auto 0;
  padding: 10px 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #007acc;
  background-color: #fff;
  font-size: 1.5rem;
}